# folders and stuff
## we should all add extra stuff in our mods folder here so they dont end up on github
# ikes machine
## folders
config/*
logs/*
memory_repo/*
saves/*
resources/*
texturepacks/*
## configs
options.txt
servers.dat
usercache.json
usernamecache.json